*~
build/
src-gen/
test/org/apache/pig/test/utils/dotGraph/parser/
target/
ivy/*.jar
pig.jar
pig-withouthadoop.jar
*.iml
*.ipr
*.iws
contrib/iris/sketches/chord/jobs.json
contrib/iris/sketches/chord/pig-events.json
