body {
  width: 100%;
  margin: 0;
  border: 0;
  padding: auto;
  text-align: center;
  font: 10px sans-serif;
}

div.Outer {
  width: 950px;
  margin: auto;
  text-align: left;
}

div.Top {
  width: 100%;
  padding: 10px 0px;
  font-size: 15px;
  text-align: center;
}

#progressbar {
  position: relative;
  width: 100%;
  border-radius: 7px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  text-align: center;
  background-color: #f5f5f5;
}

#progressbar div {
   width: 0%; /* Adjust with JavaScript */
   height: 10px;
   border-radius: 5px;
   background-color: #b9c9fe;
}

div.InnerLeft {
  float: left;
  margin: 0;
  border: 0;
  padding: 0;
}

path.arc {
}

path.chord {
  fill-opacity: .67;
}

div.InnerRight {
  float: right;
  border: 0;
  padding: 0;
}

div.Bottom {
  width: 100%;
  position: relative;
  clear: both;
  text-align: center;
  font-size: 15px;
}

.rounded-foot-right {
    font-style: italic;
}

.job-prop-list {
}

.job-prop-list dt {
}

.job-prop-list dd {
}

.job-summary {
    width: 100%;
}
